body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec1 {
  padding: 16px;
  width: 100%;
}

.dinosaur {
  font-size: 52px;
}

.museum-explorer {
  font-size: 20px;
}

.sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estimated-distance {
  font-size: 28px;
  margin-bottom: 10px;
}

.scanbutton1-parent {
  display: flex;
  align-items: center;
  gap: 40px;
}

.scanbutton1 {
  position: relative;
}

.scanbutton {
  border-radius: 50%;
  background-color: #fb9627;
  width: 170px;
  height: 170px;
}

.connected {
  position: absolute;
  top: 75px;
  left: 0;
  width: 170px;
  background: none;
  border: none;
  font-size: 20px;
}

.distance {
  position: relative;
  width: 170px;
  height: 170px;
}

.scan {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  width: 170px;
  height: 170px;
  transition: transform 0.25s ease-out;
}

/* hide number */
.distancelabel {
  display: none;
}

.sec3 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding: 32px;
  width: 100%;
}

.state-wrapper {
  width: 100%;
  background-color: #bbb;
  border-radius: 22px;
  padding: 20px;
  text-align: center;
}

.option {
  display: none;
}

.active {
  display: block;
}

#state1 { color: #7f8c8d; }
#state2 { color: #3498db; }
#state3 { color: #2ecc71; }
#state4 { color: #e67e22; }
#state5 { color: #e74c3c; }
