.option {
  	height: 100%;
  	flex: 1;
  	width: 100%;
  	position: relative;
  	font-size: 52px;
  	letter-spacing: -0.02em;
  	line-height: 60px;
  	font-family: Inter;
  	text-align: left;
  	display: none;
  	align-items: flex-end;
	transition: opacity 0.5s ease-in-out;

}

        .active { display: block; animation: fadeIn 0.5s; }

        @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
        
        #state1 { color: #7f8c8d; } 
        #state2 { color: #3498db; } 
        #state3 { color: #2ecc71; } 
        #state4 { color: #e67e22; } 
        #state5 { color: #e74c3c; } 
		
.container {
  	width: 100%;
	height: 100svh;
  	position: relative;
  	background-color: #ebebeb;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	text-align: left;
  	font-size: 52px;
  	color: #000;
  	font-family: Inter;
}
.sec1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 16px;
  	gap: 2px;
}
.title {
  	align-self: stretch;
  	height: 98px;
  	position: relative;
}
.dinosaur {
  	position: absolute;
  	top: 36px;
  	left: 0px;
  	letter-spacing: -0.02em;
  	display: inline-block;
  	width: 218px;
  	height: 62px;
}
.subtext {
  	align-self: stretch;
  	height: 156px;
  	position: relative;
  	font-size: 20px;
}
.museum-explorer {
  	position: absolute;
  	top: 0.07px;
  	left: 4px;
  	letter-spacing: -0.02em;
}
.sec2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 8px 16px;
}
.ed-title {
  	align-self: stretch;
  	height: 134px;
  	position: relative;
}
.estimated-distance {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.02em;
  	display: inline-block;
  	width: 383px;
  	height: 104px;
}
.scanbtngroup-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 32px;
  	text-align: center;
  	font-size: 20px;
}
.scanbtngroup {
  	height: 170px;
  	width: 170px;
  	border-radius: 1000px;
  	background-color: #fb9627;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 73px 0px;
  	box-sizing: border-box;
}
.scanbtn {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.02em;
}
.distance {
  	width: 160.5px;
  	border-radius: 1000px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 47px 0px;
  	box-sizing: border-box;
  	font-size: 64px;
}
.distancelabel {
  	align-self: stretch;
  	height: 76px;
  	position: relative;
  	letter-spacing: -0.02em;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}
.sec3 {
  	align-self: stretch;
  	height: 276px;
  	display: flex;
  	align-items: flex-end;
  	justify-content: center;
  	padding: 32px 16px;
  	box-sizing: border-box;
}
.base {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 22px;
  	background-color: #bbb;
  	display: flex;
  	align-items: flex-end;
  	padding: 20px 9px;
  	box-sizing: border-box;
  	max-width: 100%;
}



